.spotsContainer {
    padding: 15px;
}

.spotImg {
   width: 100%;
   height: 150px;
}

@media (min-width: 500px) {
    .ulSpotsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.cityStateRatingContainer {
    display: flex;
    justify-content: space-between;
}

.notLink {
    text-decoration: none;
    color: black;
    
}

.notLinkPrice {
    font-weight: bold;
}

.toolTipText {
    visibility: hidden;
    color: black;
}

.toolTipText:hover {
    visibility: visible;
    opacity: 1;
}