.spotsContainer {
    padding: 15px;
}

.spotImg {
   width: 100%;
   height: 80%;
}

.cityStateRatingContainer {
    display: flex;
    justify-content: space-between;
}

.notLink {
    text-decoration: none;
    color: black;
    
}

.notLinkPrice {
    font-weight: bold;
}

