body {
    margin: 0 auto;
    font-family: sans-serif;
   
}

.imgContainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imgfalse {
    width: 250px;
    height: 200px;
   
    border-radius: 15px;
    
}

.reviewAndButtonContainer {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 15px;
}

.nameDescriptionContainer {
    margin-top: 10px;
    display: flex;
    flex-flow: row;
    flex-direction: column;
}

.textShowContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 2px black solid;
    padding-bottom: 10px;
}
.priceReviewContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.reserveButton {
    background-color: #FF5A5F;
    color: white;
    border: 2px black solid;
    box-shadow: 2px 2px black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.bigImgContainer {
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;

}

.imgtrue {
    margin-top: 2px;
  width: 500px;
  height: 404px;
  
  border-radius: 15px;
   
}

.postReviewModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postReviewModalSubmit {
background-color:#FF5A5F;
border: black 2px solid;
box-shadow: 2px 2px black;
margin-top: 15px;
padding-left: 110px;
padding-right: 120px;
padding-top: 10px;
padding-bottom: 10px;
color: white;
}

.postReviewModalTextbox {
    margin-bottom: 15px;
    padding-bottom: 100px;
    padding-right: 200px;
}

.full {
color:black;
}

.empty {
color: antiquewhite;
}

.spotsShowContainer {
    max-width: 1024px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.rating {
    display: flex;
    padding-left: 110px;
}

.manageLinks {
    text-decoration: none;
}