.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 860px;
}

.countryContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    
}

.addressContainer {
    display: flex;
    flex-direction: column;
   
}

.cityStateContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.cityContainer {
    display: flex;
    flex-direction: column;
    
    
}

.stateContainer {
    display: flex;
    flex-direction: column;
    
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    border-top: 2px black solid;
}

.descriptionForm {
    padding-right: 500px;
    padding-bottom: 300px;
    border: 2px black solid;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    border-top: 2px black solid;
}

.cityInput {
    padding-right: 370px;
}

.stateInput {
    padding-right: 160px;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    border-top: 2px black solid;
}

.imageContainer {
    margin-top: 10px;
    border-top: 2px black solid;
    display: flex;
    flex-direction: column;
}

.priceInput {
    padding-right: 700px;
}

.createButtonContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.submitButton {
    border: 2px solid black;
    box-shadow: 3px 3px black;
    background-color: #FF5A5F;
    color: white;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px
}

input {
    border: 2px black solid;
}

.modalButtonGrey {
    border: 2px black solid;
    box-shadow: 3px  3px black;
    background-color: #999999;
    padding: 3px;
}

.noBorder {
    border:none;
    background-color:#999999 ;
    color: white;
}

.noBorder:hover {
    cursor: pointer;
}

.reserveButton:hover {
    cursor: pointer;
}