.navContainer {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 2px solid lightgray;
    align-items: center;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.home {

}

.modalContainer {
    list-style-type: none;
    
}

.modalMenu {
    
}

.logo {
    height: 60px;
}

.profileButton {
    height: 30px;
}

.menuOpen {
    display: flex;
    border: 1px black solid;
    flex-direction: column;
    height: 50px;
    padding-right: 20px;
    list-style-type: none;
}



p {
    color: red;
}

.createAndProfileContainer {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.create {
    padding-right: 25px;
    text-decoration: none;
    color: black;
}

.profile-dropdownhidden {
    display: none;
}

.profileButtonButton:hover {
cursor: pointer;
}