.navContainer {
    
    
}

.navBar {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 2px solid lightgray;
    align-items: center;
    height: 80px;
    margin-top: 5%;
    
}


.modalContainer {
    list-style-type: none;
    
}

.modalMenu {
    
}

.logo {
    width: 100px;
    height: 60px;
}

.profileButtonButton {
    height: 50px;
    border-radius: 25px;
    border: 1px solid lightgray;
    background-color: white;
    color: gray;
}

#usercircle {
    padding-left: 15px;
    padding-right: 5px;
}

#userlines {
    padding-left: 5px;
}

.profile-dropdown {
    position: relative;
    top: 85px;
    border: 2px black solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.menuOpen {
    display: flex;
    
    flex-direction: column;
    height: 50px;

    list-style-type: none;
    position: relative;
    
    background-color: white;
}

.menuOpen:hover {
    cursor: pointer;
}

p {
    color: red;
}

.createAndProfileContainer {
    
}

.create {
    
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

.profileButtonButton:hover {
cursor: pointer;
}

.manageSpotsButton:hover {
    cursor: pointer;
}