.navContainer {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 2px solid lightgray;
    align-items: center;
}

.home {

}

.modalContainer {
    list-style-type: none;
    
}

.modalMenu {
    
}

.logo {
    width: 100px;
}

.profileButton {
    width: 75px;
}

.menuOpen {
    display: flex;
    border: 1px black solid;
    flex-direction: column;
    width: 75px;
}